{% extends './base.html' %}
{% block title %}Transactions{% endblock title %}
{% block page_title %}Transactions{% endblock page_title %}
{% block title_right_side %}
    <div class="top-right-button-container">
        <a href="{% url 'transaction-create' %}" class="btn btn-primary btn-lg top-right-button mr-1">New
            transaction</a>
    </div>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb pt-0 ps-4">
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card p-4">
        <table id="transactionTable" class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount CAD</th>
                <th>Amount USD</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
            </thead>
        </table>
    </div>
    {% include 'app/snippets/TransactionDetailModal.html' %}
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.min.js"></script>
    <script src="../../static/js/transactions.js"></script>
    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>
{% endblock %}