<div class="modal fade" id="transferModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Money Transfer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between p-4">
                    <div>
                        <p><strong>Date:</strong> <span id="modal-date"></span></p>
                        <p><strong>Platform:</strong> <span id="modal-platform"></span></p>
                        <p><strong>Value CAD:</strong> <span id="modal-value-cad"></span></p>
                        <p><strong>Value USD:</strong> <span id="modal-value-usd"></span></p>
                        <p><strong>Commission USD:</strong> <span id="modal-commission"></span></p>
                    </div>
                    <div>
                        <p><strong>Change rate:</strong> <span id="modal-change"></span></p>
                        <p><strong>Processing days:</strong> <span id="modal-processing"></span></p>
                        <p><strong>ISD:</strong> <span id="modal-isd"></span></p>
                        <p><strong>Tax EC:</strong> <span id="modal-taxec"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>