<div class="modal fade" id="transactionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transaction Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between p-4">
                    <div>
                        <p><strong>Date:</strong> <span id="modal-date"></span></p>
                        <p><strong>Transaction type:</strong> <span id="modal-type"></span></p>
                        <p><strong>Value CAD:</strong> <span id="modal-value-cad"></span></p>
                        <p><strong>Value USD:</strong> <span id="modal-value-usd"></span></p>
                        <p><strong>Payment type:</strong> <span id="modal-payment"></span></p>
                    </div>
                    <div>
                        <p><strong>Shop:</strong> <span id="modal-shop"></span></p>
                        <p><strong>Category:</strong> <span id="modal-category"></span></p>
                        <p><strong>Description:</strong> <span id="modal-description"></span></p>
                        <p><strong>ISD:</strong> <span id="modal-isd"></span></p>
                        <p><strong>Tax EC:</strong> <span id="modal-taxec"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>